@import url(normalize.css);

:root {

    /* TYPOGRAPHY */

    --primary-font-size: 2rem;
    --secondary-font-size: 1.8rem;
    --tertiary-font-size: 1.6rem;

    --link-font-size: 2rem;

    --h1-size: 5.2rem;
    --h2-size: 4.4rem;
    --h3-size: 3rem;
    --h4-size: 2.4rem;
    --h5-size: 1.8rem;

    --primary-line-height: 1.6;
    --secondary-line-height: 1.8;
    --tertiary-line-height: 1.05;


    --primary-border-radius: 9px;


    --vertical-smaller-padding: 1.2rem;
    --vertical-larger-padding: 1.6rem;
    --horizontal-smaller-padding: 2.4rem;
    --horizontal-larger-padding: 3.2rem;



    /* COLORS */

    --primary-text-color: #555;
    --secondary-text-color: #333;
    --light-text-color: #ddd;
    --white-text-color: #fff;


    --primary-color: #e67e22;
    --accent-color: #cf711f;


    --primary-bg-color: #fdf2e9;
    --secondary-bg-color: #fae5d3;
    --tertiary-bg-color: #fff;

    --primary-badge-color: #ffd43b;
    --secondary-badge-color: #94d82d;
    --tertiary-badge-color: #51cf66;




}


/* Document
   ========================================================================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

}

body {
    max-width: 100%;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-text-color);
    overflow-x: hidden;

}


/* GENERAL STYLES */

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);

}

h3 {
    font-size: var(--h3-size);

}

h4 {
    font-size: var(--h4-size);

}

h5 {
    font-size: var(--h5-size);

}

h1,
h2,
h3,
h4,
h5 {
    color: var(--secondary-text-color);
}


h1,
h2,
h3 {
    font-weight: 700;
}

h4 {
    font-weight: 600;
}

h6 {
    font-weight: 500;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
    display: inline-block;
    font-weight: 500;
    color: var(--secondary-text-color);
    cursor: pointer;
    transition: all 0.3s;
}

a:focus {
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);

}

li {
    list-style: none;
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}



/* BUTTONS */



.btn {
    padding: var(--vertical-larger-padding) var(--horizontal-larger-padding);
    border-radius: 9px;
    color: var(--white-text-color);
    border: none;
}

.primary--btn {
    background-color: var(--primary-color);
    font-weight: 600;
}



.primary--btn-smaller {
    font-size: var(--secondary-font-size);
    padding: var(--vertical-smaller-padding) var(--horizontal-smaller-padding);
}

.btn--accent {
    background-color: var(--tertiary-bg-color);
    color: var(--primary-text-color);
    font-weight: 600;
}

.primary--btn:hover {
    background-color: var(--accent-color);
}


.btn--accent:hover {
    background-color: var(--primary-bg-color);
    box-shadow: inset 0 0 0 3px #fff;
}

/* Badges and Tagline */

.tagline {
    display: block;
    font-size: var(--tertiary-font-size);
    font-weight: 500;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}



/****************************/
/*** HEADER + NAVIGATION SECTION ***/
/****************************/


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.omnifood-logo {
    height: 2.2rem;
}

.navigation .navigation-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 4.8rem;
}

.navigation-items .navigation-hover-effect:hover {
    color: var(--primary-color);

}







/****************************/
/*** Mobile navigation ***/
/****************************/

.btn-mobile-nav {

    border: none;
    background: none;
    cursor: pointer;
    display: none;

}


.icon-mobile-nav {

    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}













/****************************/
/*** HERO SECTION ***/
/****************************/

.hero-section {
    background: var(--primary-bg-color);
    padding: 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9.6rem;
    padding: 0 3.2rem;
}

.hero-img {
    max-width: 100%;
}

.hero--left .hero__title {
    margin-top: 0;
}

.hero--left .hero__description {
    font-size: var(--primary-font-size);
    line-height: var(--secondary-line-height);
    margin-bottom: 4.8rem;
}

.hero--left .btn {
    margin-right: 2rem;
}

.hero--left .delivered-meals {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 8rem 0;
}

.delivered-meals .delivered-img {
    display: flex;
}


.delivered-meals .delivered-img img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-description {
    font-size: var(--tertiary-font-size);
    font-weight: 600;
}

.delivered-description .delivered-numbers {
    color: var(--primary-color);
}

/****************************/
/*** FEATURED SECTION ***/
/****************************/

.featured-section {
    padding: 4.8rem 0 3.2rem 0;
}

.featured-heading {
    font-size: var(--tertiary-font-size);
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    opacity: 50%;

}

.featured-companies-logo {

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.featured-companies-logo img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;

}


/****************************/
/*** HOW IT WORKS SECTION ***/
/****************************/

.guidlines {
    padding: 9.6rem 0;
}

.grid--2x1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}




.guidlines-text-side .guidlines-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.guidlines-text-side .guidlines-text {
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
    margin-bottom: 4.8rem;
}

.guidlines-header h2 {
    margin-bottom: 9.6rem;
}

.guidlines-heading {
    margin-bottom: 3.2rem;
}

.guidlines-img {
    width: 35%;
}

.guidlines-img-side {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.guidlines-img-side::before,
.guidlines-img-side::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.guidlines-img-side::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: var(--primary-bg-color);
    z-index: -2;
}

.guidlines-img-side::after {
    width: 45%;
    padding-bottom: 45%;

    background-color: var(--secondary-bg-color);
    z-index: -1;
}

/******************************/
/*** MEAL PLANS SECTION ***/
/******************************/

.grid--3x1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;

}

.meals-section {
    padding: 9.6rem 0;
}

.meals-section .meals-header {
    text-align: center;
}

.meals-header h2 {
    margin-bottom: 9.6rem;
}

.meals-section .meals {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: var(--primary-border-radius);
    overflow: hidden;
}



.meals .meals-img {
    width: 100%;
}


.meal-content {
    padding: 3.2rem 3.8rem;
}



.meal-content .meals-tag {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-text-color);
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
}

.meals-tag.meals-tag-1 {
    background: var(--tertiary-badge-color);
}

.meals-tag.meals-tag-2 {
    background: var(--secondary-badge-color);
}

.meals-tag.meals-tag-3 {
    background: var(--primary-badge-color);

}

.meal-content .meals-heading {
    margin: 2.4rem 0 2.8rem 0;
}

.meal-content li,
.meals-list li,
.pricing-benefits li {
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

}

.meals.meals-list h3 {

    margin-bottom: 2.4rem;
}

.meals-icon {
    width: 28px;
    height: 28px;
    stroke: var(--primary-color);
}

.meals.meals-list {
    box-shadow: none;
}

.meals-section .all-recipes {
    text-align: center;
    margin: 6.4rem 0;
}

.meals-section .all-recipes a {
    font-size: var(--secondary-font-size);
    font-weight: 400;
    transition: all 0.3s;
    color: var(--primary-color);
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
}

.meals-section .all-recipes a:hover {
    color: var(--accent-color);
    border-bottom: 1px solid transparent;
}

/******************************/
/*** TESTIMONIAL SECTION ***/
/******************************/
.testimonial-section {
    display: grid;
    background-color: var(--primary-bg-color);
    grid-template-columns: 55fr 45fr;
}

.testimonial-content .testimonial-header h2 {
    margin-bottom: 9.6rem;
}

.testimonial-section .testimonial-content {
    padding: 9.6rem;
}


.testimonial .testimonial-img {
    width: 6.4rem;
    border-radius: 50%
}

.testimonial .customer-testimonial {
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
    margin: 1.6rem 0;
}

.testimonial .customer-name {
    font-size: var(--tertiary-font-size);
    font-weight: 400;
    opacity: 0.8;

}


.testimonial-gallery.grid--3x1 {
    gap: 1.6rem;
    padding: 1.6rem;
    overflow: hidden;
    align-items: center;

}

.testimonial-gallery .gallery-item {
    overflow: hidden;
}

.testimonial-gallery img {
    display: block;
    width: 100%;
    transition: all 0.4s;
    vertical-align: bottom;
}

.testimonial-gallery img:hover {
    transform: scale(1.1);
}

/******************************/
/*** PRICING SECTION ***/
/******************************/

.pricing-section {
    padding: 9.6rem 0;

}

.pricing-card {
    border-radius: 20px;
    width: 75%;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

    transition: all 0.3s;
}

.pricing-card:hover {
    transform: translateY(-2rem);
}

.pricing-section .pricing-section-header {
    margin-bottom: 9.6rem;
}

.pricing-card-starter {
    padding: 4.8rem;
    justify-self: end;
    border: 2px solid #fdf2e9;
}

.pricing-card-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.pricing-title {
    font-size: var(--primary-font-size);
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

.pricing-amount {
    color: var(--secondary-text-color);
    margin-bottom: 2rem;
}

.pricing-amount .pricing-currency {
    font-size: 3rem;
    font-weight: 500;
}

.pricing-amount .pricing-value {
    font-size: 6.2rem;
    font-weight: 600;

}

.pricing-description {
    font-size: var(--tertiary-font-size);
    color: var(--primary-text-color);
}

.pricing-button {
    margin-top: 4.8rem;
    text-align: center;
}

.pricing-card-complete {
    background-color: #fdf2e9;
    padding: 4.8rem;
    position: relative;
    overflow: hidden;
    position: relative;
}

.container .pricing-note {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 9.8rem 0;
}

.grid--4x1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.feature .features-heading {
    color: var(--secondary-text-color);
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature .feature-description {
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
    color: var(--primary-text-color);
}

.feature-icon {
    width: 4.8rem;
    height: 4.8rem;
    margin-bottom: 1.6rem;
    background-color: #fdf2e9;
    border-radius: 50%;
}

/******************************/
/*** CALL TO ACTION SECTION ***/
/******************************/

.cta-section {
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
    color: #442509;
    margin-bottom: 9.6rem;
}

.cta-section .cta-content {
    padding: 3.2rem 6.4rem;
}

.cta-content .cta-heading {
    margin-bottom: 3.8rem;
}

.cta-content .cta-description {
    font-size: var(--secondary-font-size);
    line-height: var(--secondary-line-height);
    margin-bottom: 3.2rem;
}

.cta-form {
    display: grid;
    font-size: var(--secondary-font-size);
    font-weight: 600;
    row-gap: 2rem;
}



.cta-form input,
.cta-form select,
.cta-form .btn--form {
    margin: 1.4rem 0;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

input:focus,
select:focus,
.btn--form:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}



.cta-form .btn--form {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
}

.cta-form .btn--form:hover {
    color: #45260a;
    background-color: #fff;
}

.cta-img {
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url("../img/eating.jpg");
    background-position: center;
    background-size: cover;
}

/******************************/
/*** FOOTER SECTION ***/
/******************************/

.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
    color: #767676;

}

.grid--5x1 {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.footer .social-icons {
    display: flex;
    gap: 2.4rem;
}

.social-icons .social-icon {
    width: 2.4rem;
    height: 2.4rem;
    transition: all 0.3s;
    margin: 2.8rem 0 3.2rem 0;
    stroke: var(--primary-text-color);
}

.social-icons .social-icon:hover {
    transform: scale(1.1);
    stroke: var(--secondary-text-color);
}

.footer .copyright-description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: var(--primary-line-height);
}

.footer .footer-heading {
    font-weight: 500;
    color: var(--secondary-text-color);
    margin-bottom: 4rem;
}

.footer .address {
    font-size: var(--tertiary-font-size);
    color: var(--secondary-text-color);
    letter-spacing: 0.75px;
    margin-bottom: 3.6rem;
}

.footer a {
    font-size: var(--tertiary-font-size);
    font-weight: 400;
    color: #767676;
    transition: all 0.3s;
}


.contact-footer a,
.account-footer a,
.company-footer a,
.resources-footer a {
    margin-bottom: 1.8rem;
}

.footer a:hover {
    color: var(--secondary-text-color);
}