<div class="container">
  <section class="cta-section">
    <div class="cta-content">
      <h2 class="cta-heading">Get your first meal for free!</h2>
      <p class="cta-description">
        Healthy, tasty and hassle-free meals are waiting for you. Start eating
        well today. You can cancel or pause anytime. And the first meal is on
        us!
      </p>
      <form action="" class="cta-form grid--2x1">
        <div>
          <label for="fullName">Full Name</label>
          <input
            type="text"
            id="fullName"
            placeholder="John Smith"
            required=""
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="me@example.com" />
        </div>
        <div>
          <label for="input-options">Where did you hear from us?</label>

          <select name="input-options" id="input-options">
            <option value="first">Please choose one option:</option>
            <option value="friends">Friends and family</option>
            <option value="youtube">Youtube video</option>
            <option value="podcast">Podcast</option>
            <option value="other">Other</option>
          </select>
        </div>
        <a href="#" class="btn btn--form">Start eating well</a>
      </form>
    </div>
    <div class="cta-img">
      <img alt="A girl enjoying her meal" />
    </div>
  </section>
</div>
