<section class="guidlines">
  <div class="container">
    <div class="guidlines-header">
      <span class="tagline">How it works</span>
      <h2>Your daily dose of health in 3 simple steps</h2>
    </div>
    <div class="grid grid--2x1">
      <div class="guidlines-text-side">
        <p class="guidlines-number">01</p>
        <h3 class="guidlines-heading">Tell us what you like (and what not)</h3>
        <p class="guidlines-text">
          Never again waste time thinking about what to eat! Omnifood AI will
          create a 100% personalized weekly meal plan just for you. It makes
          sure you get all the nutrients and vitamins you need, no matter what
          diet you follow!
        </p>
      </div>
      <div class="guidlines-img-side">
        <img
          class="guidlines-img"
          src="img/app/app-screen-1.png"
          alt="iphone app preferences selection area"
        />
      </div>
      <div class="guidlines-img-side">
        <img
          class="guidlines-img"
          src="img/app/app-screen-2.png"
          alt="iphone app meal approving plan"
        />
      </div>
      <div class="guidlines-text-side">
        <p class="guidlines-number">02</p>
        <h3 class="guidlines-heading">Approve your weekly meal plan</h3>
        <p class="guidlines-text">
          Once per week, approve the meal plan generated for you by Omnifood AI.
          You can change ingredients, swap entire meals, or even add your own
          recipes.
        </p>
      </div>
      <div class="guidlines-text-side">
        <p class="guidlines-number">03</p>
        <h3 class="guidlines-heading">Receive meals at convenient time</h3>
        <p class="guidlines-text">
          Best chefs in town will cook your selected meal every day, and we will
          deliver it to your door whenever works best for you. You can change
          delivery schedule and address daily!
        </p>
      </div>
      <div class="guidlines-img-side">
        <img
          class="guidlines-img"
          src="img/app/app-screen-3.png"
          alt="iphone app delivery screen"
        />
      </div>
    </div>
  </div>
</section>
