<header class="header">
  <a href="">
    <img class="omnifood-logo" src="img/omnifood-logo.png" alt="Omnifood Logo"
  /></a>

  <nav class="navigation">
    <ul class="navigation-items">
      <li><a class="navigation-hover-effect" href="">How it works</a></li>
      <li><a class="navigation-hover-effect" href="">Meals</a></li>
      <li><a class="navigation-hover-effect" href="">Testimonials</a></li>
      <li><a class="navigation-hover-effect" href="">Pricing</a></li>
      <li>
        <a href="#" class="btn primary--btn primary--btn-smaller"
          >Try for free</a
        >
      </li>
    </ul>
  </nav>
</header>
