<section class="container pricing-section">
  <div class="pricing-section-header">
    <p class="tagline">Pricing</p>
    <h2>Eating well without breaking the bank</h2>
  </div>
  <div class="container grid grid--2x1">
    <div class="pricing-card pricing-card-starter">
      <div class="pricing-card-header">
        <div class="pricing-title">Starter</div>
        <div class="pricing-amount">
          <span class="pricing-currency">$</span>
          <span class="pricing-value">399</span>
        </div>
        <p class="pricing-description">per month. That's just $13 per meal!</p>
      </div>

      <div class="pricing-benefits">
        <ul>
          <li class="pricing-benefits-list">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="meals-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
            <p>1 meal per day</p>
          </li>
          <li class="pricing-benefits-list">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="meals-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
            <p>Order from 11am to 9pm</p>
          </li>
          <li class="pricing-benefits-list">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="meals-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
            <p>Delivery is free</p>
          </li>
        </ul>
      </div>
      <div class="pricing-button">
        <a href="#" class="btn primary--btn">Start eating well</a>
      </div>
    </div>
    <div class="pricing-card pricing-card-complete">
      <div class="pricing-card-header">
        <div class="pricing-title">Complete</div>
        <div class="pricing-amount">
          <span class="pricing-currency">$</span>
          <span class="pricing-value">649</span>
        </div>
        <p class="pricing-description">per month. That's just $11 per meal!</p>
      </div>

      <div class="pricing-benefits">
        <ul>
          <li class="pricing-benefits-list">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="meals-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
            <p>2 meals per day</p>
          </li>
          <li class="pricing-benefits-list">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="meals-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
            <p>Order 24/7</p>
          </li>
          <li class="pricing-benefits-list">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="meals-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
            <p>Delivery is free</p>
          </li>
        </ul>
      </div>
      <div class="pricing-button">
        <a href="#" class="btn primary--btn">Start eating well</a>
      </div>
    </div>
  </div>
  <div class="container pricing-note">
    Prices include all applicable taxes. You can cancel at any time. Both plans
    include the following:
  </div>
  <div class="container pricing-feature grid--4x1">
    <div class="feature">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="meals-icon feature-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
        />
      </svg>
      <h4 class="features-heading">Never cook again!</h4>
      <p class="feature-description">
        Our subscriptions cover 365 days per year, even including major
        holidays.
      </p>
    </div>
    <div class="feature">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="meals-icon feature-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64"
        />
      </svg>

      <h4 class="features-heading">Local and organic</h4>
      <p class="feature-description">
        Our cooks only use local, fresh, and organic products to prepare your
        meals.
      </p>
    </div>
    <div class="feature">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="meals-icon feature-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3"
        />
      </svg>

      <h4 class="features-heading">No waste</h4>
      <p class="feature-description">
        All our partners only use reusable containers to package all your meals.
      </p>
    </div>
    <div class="feature">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="meals-icon feature-icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636"
        />
      </svg>

      <h4 class="features-heading">Pause anytime</h4>
      <p class="feature-description">
        Going on vacation? Just pause your subscription, and we refund unused
        days.
      </p>
    </div>
  </div>
</section>
