<section class="testimonial-section">
  <div class="grid--2x1">
    <div class="testimonial-content">
      <div class="testimonial-header">
        <p class="tagline">Testimonials</p>
        <h2>Once you try it, you can't go back</h2>
      </div>
      <div class="testimonials-grid grid--2x1">
        <figure class="testimonial">
          <img
            class="testimonial-img"
            src="img/customers/dave.jpg"
            alt="Customer Dav picture"
          />
          <blockquote class="customer-testimonial">
            Inexpensive, healthy and great-tasting meals, without even having to
            order manually! It feels truly magical.
          </blockquote>
          <p class="customer-name">— Dave Bryson</p>
        </figure>
        <figure class="testimonial">
          <img
            class="testimonial-img"
            src="img/customers/ben.jpg"
            alt="Customer Ben picture"
          />
          <blockquote class="customer-testimonial">
            The AI algorithm is crazy good, it chooses the right meals for me
            every time. It's amazing not to worry about food anymore!
          </blockquote>
          <p class="customer-name">— Ben Hadley</p>
        </figure>
        <figure class="testimonial">
          <img
            class="testimonial-img"
            src="img/customers/steve.jpg"
            alt="Customer Steve picture"
          />
          <blockquote class="customer-testimonial">
            Omnifood is a life saver! I just started a company, so there's no
            time for cooking. I couldn't live without my daily meals now!
          </blockquote>
          <p class="customer-name">— Steve Miller</p>
        </figure>
        <figure class="testimonial">
          <img
            class="testimonial-img"
            src="img/customers/hannah.jpg"
            alt="Customer Hannah picture"
          />
          <blockquote class="customer-testimonial">
            I got Omnifood for the whole family, and it frees up so much time!
            Plus, everything is organic and vegan and without plastic.
          </blockquote>
          <p class="customer-name">— Hannah Smith</p>
        </figure>
      </div>
    </div>

    <div class="testimonial-gallery grid--3x1">
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-1.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-2.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-3.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-4.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-5.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-6.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-7.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-8.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-9.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-10.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-11.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
      <div class="gallery-item">
        <img
          src="img/gallery/gallery-12.jpg"
          alt="Photo of beautiful and tasty food"
        />
      </div>
    </div>
  </div>
</section>
